<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

    <title>{% block title %}  {% endblock %} Web shop</title>
</head>


<body>

  <!-- Navbar -->
<nav class="bg-gray-800 p-5 flex justify-between items-center">

  <!-- Online Shop Section -->
  
  <div class="text-white">
    <a href="/">
        <h1 class="text-2xl font-bold text-teal-500 hover:text-teal-700">Kupovina online</h1>
    </a>
</div>

  <!-- Mobile Menu Button -->
  <button id="menu-toggle" class="lg:hidden text-white hover:text-green-500 focus:outline-none">
      <svg class="h-6 w-6" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24">
          <path d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
  </button>

  <!-- Right Side Buttons -->
  <div class="hidden lg:flex space-x-4">

     <!-- New Item Button -->
     <a href="{% url 'item:new' %}">
      <button class="text-white hover:text-green-500">Novi artikal</button>
     </a>
  
     <!-- Browse Inbox Button -->
     <a href="{% url 'item:items' %}">
      <button class="text-white hover:text-green-500">Pretraga</button>
     </a>
   

    

    {% if request.user.is_authenticated %}

     <!-- Browse Inbox Button -->
     <a href="{% url 'conversation:inbox' %}">
      <button class="text-lg font-semibold text-gray-800 bg-teal-500 hover:bg-teal-700 text-white rounded-lg px-6 py-2">Inbox</button>
     </a>

     <!-- Dashboard Button -->
     <a href="{% url 'dashboard:index' %}">
      <button class="text-lg font-semibold text-gray-800 bg-teal-500 hover:bg-teal-700 text-white rounded-lg px-6 py-2">Pregled</button>
     </a>
     <!-- Log Out Button -->
     <a href="{% url 'core:logout' %}">
      <button class="text-lg font-semibold text-gray-800 bg-teal-500 hover:bg-teal-700 text-white rounded-lg px-6 py-2">Odjava</button>
     </a>
     
     {% else %}
     <a href="{% url 'core:signup' %}">
      <button class="text-lg font-semibold text-gray-800 bg-teal-500 hover:bg-teal-700 text-white rounded-lg px-6 py-2">Registracija</button>
     </a>

     <!-- Log IN Button -->
     <a href="{% url 'core:login' %}">
      <button class="text-lg font-semibold text-gray-800 bg-teal-500 hover:bg-teal-700 text-white rounded-lg px-6 py-2">Prijava</button>
     </a>

     
     

           
    {% endif %}


  </div>
</nav>

<!-- Mobile Menu (Hidden on Desktop) -->
<div id="mobile-menu" class="lg:hidden absolute top-16 right-0 mt-2 bg-gray-900 w-48 rounded-lg shadow-md hidden">
  <button id="menu-toggle" class="text-white hover:text-green-500 focus:outline-none right-4 top-4 absolute">
      <svg class="h-6 w-6" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24">
          
      </svg>
  </button>

  <!-- Menu Text -->
  

  <!-- Mobile Menu Links -->
  <ul class="block space-y-2 p-4">
    <li><a href="{% url 'item:new' %}" class="text-lg font-semibold text-gray-800 bg-teal-500 hover:bg-teal-700 text-white rounded-lg px-6 py-2">Novi artikal</a></li>
      <li><a href="{% url 'item:items' %}" class="text-lg font-semibold text-gray-800 bg-teal-500 hover:bg-teal-700 text-white rounded-lg px-6 py-2">Pretraga</a></li>
    {% if request.user.is_authenticated %}
      
      <li><a href="{% url 'conversation:inbox' %}" class="text-white hover:text-green-500">Inbox</a></li>
      <li><a href="{% url 'dashboard:index' %}" class="text-white hover:text-green-500">Pregled</a></li>
      <li><a href="{% url 'core:logout' %}" class="text-white hover:text-green-500">Odjava</a></li>
      {% else %}

      <li><a href="{% url 'core:login' %}" class="text-white hover:text-green-500">Prijava</a></li>
      <li><a href="{% url 'core:signup' %}" class="text-white hover:text-green-500">Registracija</a></li>
      {% endif %}



  </ul>
  <script>
    // Function to toggle the mobile menu
    function toggleMobileMenu() {
        var mobileMenu = document.getElementById("mobile-menu");
        if (mobileMenu.style.display === "block") {
            mobileMenu.style.display = "none";
        } else {
            mobileMenu.style.display = "block";
        }
    }

    // Add a click event listener to the menu-toggle button
    document.getElementById("menu-toggle").addEventListener("click", toggleMobileMenu);
</script>
</div>



    

    <div class="px-6 py-6">

        {% block content %}
        {% endblock %}
        
    </div>
    
    <footer class="py-6 px-6 sm:py-8 sm:px-12 flex flex-col sm:flex-row justify-between items-center bg-gray-800">
        <div class="w-full sm:w-1/2 pr-6 sm:pr-10">
            <h3 class="mb-4 text-2xl text-teal-500 font-semibold">About Us</h3>
            <p class="text-lg text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
        </div>
    
        <div class="w-full sm:w-1/4">
            <h3 class="mb-4 text-2xl text-teal-500 font-semibold">Quick Links</h3>
            <ul class="space-y-2">
                <li><a href="#" class="text-lg text-gray-300 hover:text-teal-500">About</a></li>
                <li><a href="{% url 'core:contact' %}" class="text-lg text-gray-300 hover:text-teal-500">Contact</a></li>
                <li><a href="#" class="text-lg text-gray-300 hover:text-teal-500">Privacy Policy</a></li>
                <li><a href="#" class="text-lg text-gray-300 hover:text-teal-500">Terms of Use</a></li>
            </ul>
        </div>
    </footer>
    
    
</body>



</html>