{% extends 'core/base.html' %}

{% block title %} Welcome {% endblock %}

{% block content %}

<div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
    <h2 class="mb-12 text-2xl text-center">Novi artikli</h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
        {% for item in items %}
        <a href="{% url 'item:detail' item.id %}" class="bg-white rounded-xl hover:shadow-md">
            <img src="{{ item.image.url }}" class="rounded-t-xl w-full h-48 object-cover" alt="{{ item.name }}">
            <div class="px-6 py-4">
                <h2 class="text-xl font-semibold">{{ item.name }}</h2>
                <p class="text-gray-500">Price: {{ item.price }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
</div>

<div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
    <h2 class="mb-12 text-2xl text-center">Kategorije</h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
        {% for category in categories %}
        <a href="" class="bg-white rounded-xl hover:shadow-md">
            <div class="px-6 py-4">
                <h2 class="text-xl font-semibold">{{ category.name }}</h2>
                <p class="text-gray-500">{{ category.items.count }} items</p>
            </div>
        </a>
        {% endfor %}
    </div>
</div>

{% endblock %}
