{% extends 'core/base.html' %}

{% block title %} {{ item.name }} {% endblock %}

{% block content %}
<div class="md:grid md:grid-cols-2 lg:grid-cols-5 gap-6">
    <div class="md:col-span-2 lg:col-span-3">
        <img src="{{ item.image }}" class="w-full rounded-xl">
    </div>

    <div class="md:col-span-2 lg:col-span-2 p-6 bg-gray-100 rounded-xl">
        <h1 class="text-3xl mb-6"> {{ item.name }} </h1>
        <p><strong>Price: </strong>{{ item.price }}</p>
        <p><strong>Seller: </strong>{{ item.created_by.username }}</p>

        {% if item.description %}
        <p class="text-gray-700 mt-6">
            <strong class="text-gray-500">Description:</strong> <br>
            {{ item.description }}
        </p>
        {% endif %}

        {% if request.user == item.created_by %}
        <div class="mt-6 p-6 bg-white rounded-xl">
            <p>This is your item</p>
            <a href="{% url 'item:edit' item.id %}" class="inline-block mt-6 px-6 py-3 text-xl font-semibold bg-teal-500 text-white rounded-xl">Korekcija</a>
            <a href="{% url 'item:delete' item.id %}" class="inline-block mt-6 px-6 py-3 text-xl font-semibold bg-red-500 text-white rounded-xl">Izbriši</a>
        </div>
        {% else %}
        <a href="{% url 'conversation:new' item.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">Kontaktiraj prodavača</a>
        {% endif %}
    </div>
</div>

<div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
    <h2 class="text-2xl text-center mb-12">Slični artikli</h2>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3">
        {% for item in related_items %}
        <div>
            <a href="{% url 'item:detail' item.id %}">
                <div>
                    <img src="{{ item.image.url }}" class="w-full rounded-t-xl" alt="">
                </div>
                <div class="px-6 bg-white rounded-b-xl">
                    <h2 class="text-2xl">{{ item.name }}</h2>
                    <p class="text-gray-500">Price: {{ item.price }}  KM</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
