{% extends 'core/base.html' %}

{% block title %} Pregled  {% endblock %}

{% block content %}

<div class="mt-6 px-6 py-6 md:py-12 bg-gray-100 rounded-xl">
    <h2 class="mb-6 md:mb-12 text-2xl text-center">Moji artikli</h2>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-3">
        {% for item in items %}
        <div>
            <a href="{% url 'item:detail' item.id %}">

                <div>
                    <img src="{{ item.image }}" class="rounded-t-xl w-full" alt="">
                </div>

                <div class="px-6 bg-white rounded-b-xl">
                    <h2 class="text-2xl">{{ item.name }} </h2>
                    <p class="text-gray-500">Price : {{ item.price }} </p>
                </div>
            </a>
        </div>
        {% endfor %}

    </div>
</div>

<div class="mt-6 px-6 py-6 md:py-12 bg-gray-100 rounded-xl">
    <h2 class="mb-6 md:mb-12 text-2xl text-center">Kategorije</h2>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-3">
        {% for category in categories %}
        <div>
            <a href="">
                <div class="px-6 bg-white rounded-t-xl">
                    <h2 class="text-2xl">{{ category.name }} </h2>
                    <p class="text-gray-500"> {{ category.items.count }} items</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
